# packages
venv
node_modules

# types
typechain
typechain-types

# build
build

# tests
coverage
coverage.json

#Hardhat files
cache
artifacts

# env files
.env

# sensitive
scripts/ticket_argument.ts
